apiVersion: 1

datasources:
  - name: LEAN InfluxDB
    uid: lean-influxdb
    type: influxdb
    access: proxy
    isDefault: true
    editable: true
    url: __INFLUXDB_URL__
    database: __INFLUXDB_BUCKET__
    user: admin
    basicAuth: true
    basicAuthUser: admin
    jsonData:
      httpMode: POST
      timeInterval: 10s
    secureJsonData:
      basicAuthPassword: __INFLUXDB_TOKEN__
      password: __INFLUXDB_TOKEN__
