<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <TargetFramework>net10.0</TargetFramework>
    <GenerateAssemblyInfo>false</GenerateAssemblyInfo>
    <OutputPath>bin\</OutputPath>
    <AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
    <EnableDefaultCompileItems>false</EnableDefaultCompileItems>
    <AssemblyName>{ASSEMBLY_NAME}</AssemblyName>
    <RootNamespace>QuantConnect.Algorithm.CSharp.Models.Gold2.Reconstruction</RootNamespace>
    <NoWarn>CS0618;CA1062;CA1002;CA1822;CA1859</NoWarn>
  </PropertyGroup>
  <ItemGroup>
    <Compile Include="G3.cs" />
  </ItemGroup>
  <ItemGroup>
    <ProjectReference Include="{ALGO_CSHARP_CSJPROJ}" />
  </ItemGroup>
</Project>
